* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 0;
}

:root{

   /* Colors - - - - - - - - - */
   --blue-ocean: #00c6ff;
   --fantasma-branco: #fafaff;
   /* - - - - - - - - - - - - -*/

   font-size: 62.5%; /* 1rem = 10px */
}
