body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.8rem;

   color: white;

   height: 100vh;
}

#container {
   background: #FFFFFF;
   height: 100%;

   display: grid;
   grid-template-areas: 
      /*colum1 colum2 colum3*/
      "header header header"
      "undefined1 main undefined2"
      "footer footer footer"
   ;
   grid-template-columns: 20rem 5fr 20rem;
   grid-template-rows:
      /*Um valor para cada linha (cima para baixo)*/
      auto minmax(55rem, 1fr) 10rem
   ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
header {
   grid-area: header;
   background: #0d0c0c;

   display: grid;
   grid-template-areas:
      "undefined1 hgroup undefined2"
      "undefined1 section undefined2"
   ;
   grid-template-columns: 20rem 5fr 20rem;
   grid-template-rows: 5rem 8rem;
}

hgroup {
   grid-area: hgroup;

   padding: 1rem 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
section {
   grid-area: section;
   background: blue;

   display: flex;
   justify-content: center;
   align-items: center;
}

#data {
   margin-right: 5rem;

   display: flex;
   justify-content: center;
}

input {
   height: 2.5rem;
   width: 8rem;
   margin-left: 2rem;
   padding: 0.5rem 1.5rem;

   font-size: 1.8rem;

   border: none;
   border-radius: 0.4rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
main {
   grid-area: main;
   background: red;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
footer {
   grid-area: footer;
   background: #0d0c0c;

   padding: 1rem 20rem;
}
