body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.8rem;

   height: 100vh;
}

#container {
   background: #d1fff8;
   height: 100%;

   display: grid;
   grid-template-areas: 
      /*colum1 colum2 colum3*/
      "header header header"
      "aside1 main aside2"
      "footer footer footer"
   ;
   grid-template-columns: 20rem 5fr 20rem;
   grid-template-rows:
      /*Um valor para cada linha (cima para baixo)*/
      1fr minmax(55rem, 1fr) minmax(10rem, 20rem)
   ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
header {
   grid-area: header;
   background: #00c6ff;

   display: grid;
   grid-template-areas:
      "undefined1 hgroup undefined2"
      "undefined1 section undefined2"
   ;
   grid-template-columns: 20rem 5fr 20rem;
   grid-template-rows: 5rem 8rem;
}

hgroup {
   grid-area: hgroup;

   padding: 1rem 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
section {
   grid-area: section;

   display: flex;
   justify-content: center;
   align-items: center;
}

#data {
   margin-right: 5rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

input {
   height: 2.5rem;
   width: 8rem;
   margin-left: 2rem;
   padding: 0.5rem 1.5rem;

   font-size: 1.8rem;

   border: none;
   border-radius: 0.4rem;
}

#btn {
   display: flex;
   align-items: center;
}

#btn button {
   background: #FCE700;

   height: 3rem;
   padding: 0.5rem 1.5rem;

   font-weight: bold;
   text-align: center;

   border: none;
   border-radius: 0.4rem;

   box-shadow: 0px 3px 5px #000000;

   cursor: pointer;
}
#btn button:hover {
   height: 3.2rem;
   padding: 0.7rem 1.7rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
#aside1 {
   grid-area: aside1;
   background-image: linear-gradient(0deg, #d1fff8 0, #befff6 10%, #a7fff4 20%, #8dfff3 30%, #6cfbf2 40%, #3cf2f2 50%, #00e8f3 60%, #00dff5 70%, #00d6f9 80%, #00cefd 90%, #00c6ff 100%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
main {
   grid-area: main;
   background-image: linear-gradient(0deg, #d1fff8 0, #befff6 10%, #a7fff4 20%, #8dfff3 30%, #6cfbf2 40%, #3cf2f2 50%, #00e8f3 60%, #00dff5 70%, #00d6f9 80%, #00cefd 90%, #00c6ff 100%);
}

#card-signo {
   height: 100%;
   padding: 5rem 2rem;

   display: grid;
   grid-template-areas:
      "h2"
      "paragrafo"
   ;
   grid-template-columns: 1fr;
   grid-template-rows: max-content max-content;
   row-gap: 2rem;
}

#card-signo h2 {
   grid-area: h2;
}

#card-signo p {
   grid-area: paragrafo;

   font-size: x-large;
   text-align: justify;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
#aside2 {
   grid-area: aside2;
   background-image: linear-gradient(0deg, #d1fff8 0%, #befff6 10%, #a7fff4 20%, #8dfff3 30%, #6cfbf2 40%, #3cf2f2 50%, #00e8f3 60%, #00c6ff 100%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
footer {
   grid-area: footer;
   background: #00c6ff;

   padding: 1rem 20rem;

   border-top: 5px solid #8dfff3;
   border-radius: 5rem 0 0 0;
}
