body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.8rem;

   height: 100vh;
}

#container {
   background: var(--fantasma-branco);
   
   height: 100vh;

   display: grid;
   grid-template-areas: 
      /*colum1 colum2 colum3*/
      "header header header"
      "aside1 main aside2"
      "footer footer footer"
   ;
   grid-template-columns: 30rem 1fr 30rem;
   grid-template-rows:
      /*Um valor para cada linha (cima para baixo)*/
      15rem 1fr 15rem
   ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
header {
   grid-area: header;
   background: var(--blue-ocean);

   display: flex;
   flex-direction: column;
}

hgroup {
   padding: 2rem 30rem;
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
}

#data {
   margin-right: 5rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

input {
   height: 4rem;
   width: 10rem;
   margin-left: 2rem;
   padding: 0.5rem 1.5rem;

   font-size: 1.8rem;

   border: none;
   border-radius: 0.4rem;
}

#btn {
   display: flex;
   align-items: center;
}

#btn button {
   background: #FCE700;

   height: 4rem;
   padding: 0.5rem 1.5rem;

   font-weight: bold;
   text-align: center;

   border: none;
   border-radius: 0.4rem;

   box-shadow: 0px 0px 2px #000000;

   cursor: pointer;
}
#btn button:hover {
   box-shadow: 0px 0px 5px #000000;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
#aside1 {
   grid-area: aside1;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
main {
   grid-area: main;
}

#card-signo {
   padding: 5rem 0;

   display: flex;
   flex-direction: column;
}

#card-signo h2 {
   height: max-content;
}

#card-signo p {
   margin-top: 5rem;
   height: 100%;

   font-size: x-large;
   text-align: justify;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
#aside2 {
   grid-area: aside2;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
footer {
   grid-area: footer;
   background: var(--fantasma-branco);

   padding: 1rem 30rem;
}
